body {
    font-family: 'Noto Serif', serif;
    width: 960px;
    margin: auto;
}

header  {
    content: " ";
    display: block; 
     border-bottom: 20px solid #6e6969; 
}

/* h3:after {
    content: ' \00A7';
  } */

header img {
    float: left;
}

#topPage {
    font-family: 'Yellowtail', cursive;
}

nav {
    float: right;
    display: flex;
}
 nav img {
    padding: 3px;
}

h1 {
    margin: 0px;
}

h3{
    text-transform: uppercase;
    color: grey;
    font-family: 'Strait', sans-serif;
    font-size: 10px;
    
}
header h3{
    padding-left: 50px;
    margin-top: 0;
    font-size: 9px;
}

.articletitle {
    display: block
}
#print {
    float: right;

}
#printText {
    text-transform: uppercase;
    color: grey;
    margin-bottom: 0%;
    margin-top: 0%;
}
#cake {
    width: 100%;
}

.content {
    position: relative;
    color: black;
}

.table {
    font-family: 'Patrick Hand', cursive;
}

.Tables {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#table1 {
    float: left;
    padding-left: 200px;
    padding-top: 50px;
}

#table2 {
    float: right;
}
ul, li {
    list-style-type: none;

}
li {
    padding-left: 0;
    margin-left: 0;
}

#copyright {
    text-align: center;
    color: gray;
   padding-top: 15px;

}
li button {
    margin-right: 2em;
}

main {
    border-bottom: 10px solid #6e6969;
}

footer img {
    float: left;
}

footer button {
    float: right;
    background-color: rgb(196, 11, 11);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
   
}
#footLogo{
    padding-top: 30px;
padding-left: 450px;
}

#footLogo{
padding-left: 450px;
}

div ul li input{
    padding-right: 100px;
}

div ul li input{
    padding-right: 100px;
}
